body {
    background-color: #F2F6FA;
    font-family: "Noto Sans Bhaiksuki", sans-serif;
}

.container {
    padding: 0 1rem;
}


h2 {
    width: 18rem;
    padding-top: 3rem;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 150%;
    border-left: solid 5px #CB4E0B;
    border-bottom: solid 2px #CB4E0B;
}